/** SilverStripe Form Library  Provides a simple library of form styles for the built in form library.  @package sapphire @subpackage css */
/** Hide a legend on the form. The class will be attached to the fieldset and not the legend so alterations can be made easily to the fieldset */
/* line 21, ../sass/form.scss */
.hide-legend legend { position: absolute; overflow: hidden; height: 1px; width: 1px; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); }

/** Layout */
